.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid  #57d4e7;
    border-bottom: 16px solid  #57d4e7;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
